version: 2
jobs:
  staging:
    docker:
      - image: circleci/golang:1.11
    environment:
      TZ: Asia/Tokyo
    steps:
      - checkout
      - run: echo staging
  production:
    docker:
      - image: circleci/golang:1.11
    environment:
      TZ: Asia/Tokyo
    steps:
      - checkout
      - run:
          command: |
            echo production
            apt-get install ruby
            gem install bundler
            GIT_PR_RELEASE_TOKEN=$GITHUB_TOKEN bundle exec git-pr-release --release

workflows:
  version: 2
  build:
    jobs:
      - staging:
          filters:
            branches:
              only:
                - develop
      - production:
          filters:
            branches:
              only: master
  